{% extends 'base.html' %}


{% block content %}
<head><title>Quick Links!</title></head>
<body style="text-align:center;">

  {% csrf_token %}
Okta: <a href="https://adroll.okta.com" target="_blank"> https://adroll.okta.com </a><br /><br />

Adroll Mail: <a href="https://mail.google.com/a/adroll.com" target="_blank">https://mail.google.com/a/adroll.com</a> <br /><br />

Confluence: <a href="https://adroll.atlassian.net/wiki/spaces/NOC/overview" target="_blank">https://adroll.atlassian.net/wiki/spaces/NOC/overview</a> <br /><br />

Datadog: <a href="https://app.datadoghq.com/apm/home" target="_blank">https://app.datadoghq.com/apm/home</a> <br /><br />

Pagerduty: <a href="https://adroll.pagerduty.com/incidents" target="_blank">https://adroll.pagerduty.com/incidents</a> <br /><br />

Celery: <a href="https://app.adroll.com/backstage/celerytasks/hud" target="_blank">https://app.adroll.com/backstage/celerytasks/hud</a> <br /><br />

(Celery Alternative link - Canary): <a href="https://dotcom-canary.internal.adroll.com/backstage/celerytasks/hud" target="_blank">https://dotcom-canary.internal.adroll.com/backstage/celerytasks/hud</a> <br /><br />

Logentries: <a href="https://logentries.com/app/" target="_blank">https://logentries.com/app/</a> <br /><br />

Sentry: <a href="https://sentry.io/adroll/" target="_blank">https://sentry.io/adroll/</a> <br /><br />

Threatstack: <a href="https://app.threatstack.com/ah02twuk0egfrfg000tg" target="_blank">https://app.threatstack.com/ah02twuk0egfrfg000tg</a> <br /><br />

Pghero: <a href="https://pghero.internal.adroll.com" target="_blank">https://pghero.internal.adroll.com</a> <br /><br />

Newrelic: <a href="https://rpm.newrelic.com/accounts/399027/applications" target="_blank">https://rpm.newrelic.com/accounts/399027/applications</a> <br /><br />

Jenkins: <a href="https://jenkins.internal.adroll.com:8080" target="_blank">https://jenkins.internal.adroll.com:8080</a> <br /><br />

Redash: <a href="https://redash.internal.adroll.com" target="_blank">https://redash.internal.adroll.com</a> <br /><br />

Presto: <a href="http://presto.internal.adroll.com:8080" target="_blank">http://presto.internal.adroll.com:8080</a> <br /><br />

Batchiepatchie: <a href="http://batchiepatchie.internal.adroll.com" target="_blank">http://batchiepatchie.internal.adroll.com</a> <br /><br />

Artifactory: <a href="https://adrollserv.artifactoryonline.com/adrollserv/webapp/" target="_blank">https://adrollserv.artifactoryonline.com/adrollserv/webapp/</a> <br /><br />


<h2>Local Links</h2> <br /><br />

Tracker: <a href="http://10.20.254.166/adroll/tracker" target="_blank">http://10.20.254.166/adroll/tracker</a> <br /><br />

TMS: <a href="http://10.20.254.166/adroll/tms" target="_blank">http://10.20.254.166/adroll/tms</a> <br /><br />

Wiki: <a href="http://10.20.254.166/adroll/wiki" target="_blank">http://10.20.254.166/adroll/wiki</a> <br /><br />

File Manager: <a href="http://10.20.254.166/adroll/files" target="_blank">http://10.20.254.166/adroll/files</a> <br /><br />
</body>
{% endblock %}
