<!DOCTYPE html>
<html>
<style>
input[type="text"] { border: none }
.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}
</style>
<body>
  <div class="container">
<form>
   Ticket number <input type="text" value="{{ track.id }}" readonly><br>
   Year <input type="text" value="{{ track.Year }}" readonly><br>
   Month <input type="text" value="{{ track.Month }}" readonly><br>
   Date <input type="text" value="{{ track.Date }}" readonly><br>
   Shift <input type="text" value="{{ track.Shift }}" readonly><br>
   Day Of Week <input type="text" value="{{ track.Day_Of_Week }}" readonly><br>
   Time <input type="text" value="{{ track.Time }}" readonly><br>
   Responded Time <input type="text" value="{{ track.Responded_Time }}" readonly><br>
   Time spent <input type="text" value="{{ track.Time_spent }}" readonly><br>
   Complexity <input type="text" value="{{ track.Complexity }}" readonly><br>
   Responsible Team <input type="text" value="{{ track.Responsible_Team }}" readonly><br>
   False alarm <input type="text" value="{{ track.False_alarm }}" readonly><br>
   Incident Type <input type="text" value="{{ track.Incident_Type }}" readonly><br>
   Priority <input type="text" value="{{ track.Priority }}" readonly><br>
   If Others Please Specify <input type="text" value="{{ track.If_Others_Please_Specify }}" readonly><br>
   Description <input type="text" value="{{ track.Description }}" readonly><br>
   Environment <input type="text" value="{{ track.Environment }}" readonly><br>
   Host Type <input type="text" value="{{ track.Host_Type }}" readonly><br>
   Host Name <input type="text" value="{{ track.Host_Name }}" readonly><br>
   Source of Alert <input type="text" value="{{ track.Source_of_Alert }}" readonly><br>
   Mode of Alert <input type="text" value="{{ track.Mode_of_Alert }}" readonly><br>
   NOC Engineer <input type="text" value="{{ track.NOC_Engineer }}" readonly><br>
   Remediation <input type="text" value="{{ track.Remediation }}" readonly><br>
   Escalated <input type="text" value="{{ track.Escalated }}" readonly><br>
   Escalated Reason <input type="text" value="{{ track.Escalated_Reason }}" readonly><br>
   Status <input type="text" value="{{ track.Status }}" readonly><br>
   Escalated to <input type="text" value="{{ track.Escalated_to }}" readonly><br>
   Resolved by Team <input type="text" value="{{ track.Resolved_by_Team }}" readonly><br>
   Resolved by Engineer <input type="text" value="{{ track.Resolved_by_Engineer }}" readonly><br>
   Resolution <input type="text" value="{{ track.Resolution }}" readonly><br>
   Comments <input type="text" value="{{ track.Comments }}" readonly><br>
</form>
</div>
</body>
</html>
