<!DOCTYPE html>
{% extends 'base.html' %}


{% block content %}
<html>
<style>
input[type="text"] { border: none }
.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}
</style>
<body>
  <div class="container">
<form>
   Ticket number <input type="text" value="{{ track.id }}"  ><br>
   Year <input type="text" value="{{ track.Year }}"  ><br>
   Month <input type="text" value="{{ track.Month }}"  ><br>
   Date <input type="text" value="{{ track.Date }}"  ><br>
   Shift <input type="text" value="{{ track.Shift }}"  ><br>
   Day Of Week <input type="text" value="{{ track.Day_Of_Week }}"  ><br>
   Time <input type="text" value="{{ track.Time }}"  ><br>
   Responded Time <input type="text" value="{{ track.Responded_Time }}"  ><br>
   Time spent <input type="text" value="{{ track.Time_spent }}"  ><br>
   Complexity <input type="text" value="{{ track.Complexity }}"  ><br>
   Responsible Team <input type="text" value="{{ track.Responsible_Team }}"  ><br>
   False alarm <input type="text" value="{{ track.False_alarm }}"  ><br>
   Incident Type <input type="text" value="{{ track.Incident_Type }}"  ><br>
   Priority <input type="text" value="{{ track.Priority }}"  ><br>
   If Others Please Specify <input type="text" value="{{ track.If_Others_Please_Specify }}"  ><br>
   Description <input type="text" value="{{ track.Description }}"  ><br>
   Environment <input type="text" value="{{ track.Environment }}"  ><br>
   Host Type <input type="text" value="{{ track.Host_Type }}"  ><br>
   Host Name <input type="text" value="{{ track.Host_Name }}"  ><br>
   Source of Alert <input type="text" value="{{ track.Source_of_Alert }}"  ><br>
   Mode of Alert <input type="text" value="{{ track.Mode_of_Alert }}"  ><br>
   NOC Engineer <input type="text" value="{{ track.NOC_Engineer }}"  ><br>
   Remediation <input type="text" value="{{ track.Remediation }}"  ><br>
   Escalated <input type="text" value="{{ track.Escalated }}"  ><br>
   Escalated Reason <input type="text" value="{{ track.Escalated_Reason }}"  ><br>
   Status <input type="text" value="{{ track.Status }}"  ><br>
   Escalated to <input type="text" value="{{ track.Escalated_to }}"  ><br>
   Resolved by Team <input type="text" value="{{ track.Resolved_by_Team }}"  ><br>
   Resolved by Engineer <input type="text" value="{{ track.Resolved_by_Engineer }}"  ><br>
   Resolution <input type="text" value="{{ track.Resolution }}"  ><br>
   Comments <input type="text" value="{{ track.Comments }}"  ><br>
   ID <input type="text" value="{{ Escalated.id_for_label }}"  ><br>
</form>
</div>
</body>
</html>
{% endblock %}
