{% load static %}
{% load staticfiles%}
<head>
<h1><center/>Adroll</h1>
<title>Login</title>
</head>
<form method="POST" style="text-align:center;">
  {% csrf_token %}

  {% if request.GET.next %}
  <input type="hidden" name="next" value={{ request.GET.next }} />
  {% endif %}

Username:<br />
  <input type=text name="username" title="Enter your user name" /> <br />

Password: <br />
  <input type=password name="password" title="Enter your password"/><br /><br />

  <input type=submit value='Login' /><br /><br />
</form>
